:root {
  font-size: 14px;
}

*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column-reverse;
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  background: #555;
}

form {
  width: 100%;
  // padding: 20px;

  display: flex;
  justify-content: space-between;
  background: green;

  

  [type=text] {
    max-width: 75%;
    padding: 10px;
    // flex: 2;
    font-size: 2rem;
  }

  [type=submit] {
    min-width: 25%;
    border: none;
  }
}

.pkmn-card {
  position: relative;
  width: 80%;
  height: 500px;
  display: inline-block;

  background: white;

  text-align: center;

  margin: auto;

  // border: 2px solid black;
  border-radius: 20px;
}

.pkmn-card_img {
  position: relative;
  height: 45%;

  margin-bottom: 35px;

  background: linear-gradient(to top right, rgba(255,0,0,1) 0%, rgba(155,0,0,1) 65%, rgba(55,0,0,1) 100%) fixed;

  border-radius: 20px 20px 0 0;
}

.pkmn-card_img-pkmn {
  img {
    width: 130%;
    position: absolute;
    top: -100px;
    left: -10%;
  }
}

.pkmn-number {
  font-size: 1.3rem;
}

.pkmn-name {
  font-size: 3rem;
  text-transform: capitalize;
}

.stats {
  width: 100%;
  display: grid;
  grid-template: 1fr / repeat(3, 1fr);
  position: absolute;
  bottom: 0;
  padding: 10px;
  background: red;
  border-radius: 0 0 20px 20px;
  color: #eee;
  font-weight: bold;

  & div span {
    display: block;
  }

  & div span:first-child {
    font-size: 1rem;
  }

  .n {
    font-size: 2rem;
  }
}